ul, li, body, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dff7fd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0 40px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.wrapin {
    flex: 1;
}

header {
    height: 55px;
    background-color: #ffffff;
}

.nav {
    height: 55px;
    background-color: #9eacfe;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav li {
    line-height: 60px;
    text-align: center;
    font-size: 40px;
    width: 20%;
    position: relative;
    transition: background-color 0.3s ease;
}

.nav li:hover {
    background-color: #77abef;
}

.nav li a {
    color: #ffffff;
    display: block flex;
    justify-content: center;
    align-items: center;
}

.nav li:hover a {
    color: #ffffff;
}

.nav .dropdown {
    position: relative;
}

.nav .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #9ec8fe;
    width: 100%;
}

.nav .dropdown-menu li {
    text-align: center;
    height: 55px;
    width: 100%;
}

.nav .dropdown-menu li a {
    font-size: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 100%;
}

.nav .dropdown-menu li a:hover {
    color: #ffffff;
    background-color: #77e7ef;
}

.nav .dropdown:hover .dropdown-menu {
    display: block;
}

footer {
    background: #9edbfe;
    text-align: center;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 60px;
}

h2, h3 {
    color: #857ee8;
}

.container {
    padding: 10px 50px 50px;
    flex: 1;
}

.content {
    gap: 30px;
    margin-top: 15px;
}

.content .text p {
    margin-top: 15px;
    font-size: 20px;
    line-height: 40px;
    background-color: rgba(191, 245, 252, 0.4);
    border-radius: 20px;
    padding: 5px 15px 20px 20px;
    color: #475a9a;
}

.content h2 {
    margin-top: 15px;
    margin-bottom: -30px;
    text-align: center;
}

.content .photo li {
    display: flex;
    gap: 30px;
    padding: 15px 0;
    margin-top: 15px;
    align-items: center;
}

.content img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.content .photo li .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-section {
    margin: 20px 0;
    text-align: center;
}

.image-section img {
    width: 100%;
    height: auto;
    border-radius: 70%;
}
