ul, li, body, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dff6fd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0 40px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.wrapin {
    flex: 1;
}

header {
    height: 55px;
    background-color: #ffffff;
}

.nav {
    height: 55px;
    background-color: #9ec8fe;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav li {
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    width: 20%;
    position: relative;
    transition: background-color 0.3s ease;
}

.nav li:hover {
    background-color: #77abef;
}

.nav li a {
    color: #ffffff;
    display: block flex;
    justify-content: center;
    align-items: center;
}

.nav li:hover a {
    color: #ffffff;
}

.nav .dropdown {
    position: relative;
}

.nav .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #9ec0fe;
    width: 100%;
    z-index: 1;
}

.nav .dropdown-menu li {
    text-align: center;
    height: 55px;
    width: 100%;
}

.nav .dropdown-menu li a {
    font-size: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 100%;
}

.nav .dropdown-menu li a:hover {
    color: #ffffff;
    background-color: #77d3ef;
}

.nav .dropdown:hover .dropdown-menu {
    display: block;
}

footer {
    background: #9ed8fe;
    text-align: center;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 60px;
}

.container {
    padding: 10px 25px 5px;
    flex: 1;
    margin-top: 30px;
}

.content {
    gap: 30px;
}

.content h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.video-section {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 30px;
}

.video-item {
    flex: 1;
    max-width: 32%;
    height: auto;
}

.video-item video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.video-item video:hover, .image-item img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

